:root {
    --base: #F8D030;
}

body,
html {
    height: 100%;
}

#root {
    height: 100%;
}

.pokemon-imagem {
    width: 150px;
}

.pokemon-type {    
    padding: 5px;
    border-radius: 10px;
}

.pokemon-name-card {
    border-left: 7px solid var(--base) !important;
}

.type-base {        
    display: inline-block;
    width: 100px;
    font-size: 1.2rem;
    color: whitesmoke;
    border: 2px solid #414141;
    margin: 10px !important;    
}

.list-group-flush .list-group-item:first-child {
    border-top-width: 1px !important;
}

.autoContainer {
    margin-top: 5px;
    position: "absolute" !important; 
    z-index: 15;    
    max-height: 300px;
    overflow-y: auto;
}